@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    position: relative;
}

.navigator {
    position: fixed;
    bottom: 10%;
    right: 3%;
}

.styleNavigator {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid gray;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 35px 30px;
    background: transparent;
    position: relative;
}

ul {
    display: flex;  
}

li {
    list-style: none;
    text-align: center;
    margin: 0 10px;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    cursor: pointer;
}

#closeMenu {
    opacity: 0.75;
    color: #1a1919;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    cursor: pointer;
}

h1 {
    opacity: 0.9;
    color: #fefefe;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
}

img {
    width: 100%;
}

span {
    margin: 35px 0;
    height: 48px;
}

input {
    width: 290px;
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 7px;
}

.container {
    margin: 0 10% auto;
}

.row-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-3 > div {
    width: 32%;
}

.space-between {
    margin-bottom: 139px;
}
/*styles for header section*/

.header {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo > img {
    height: 20px;
}

.header-text-center {
    text-align: center;
}

.header-text-center > p {
    opacity: 0.68;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 300;
    margin-top: 100px;
}

.element-goto {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    margin: auto 50% 35px;
    position: relative;
}

.down-sign {
    color: #111;
    position: fixed;
    left: 28px;
    bottom: -60px;
    right: -20px;
    transform: rotate(-45deg);
}

.mobileMenu {
    display: none;
    width: 30px;
    height: 20px;
}

.hideMenu {
    display: none;
}


/*styles for header section*/

/* styles for about studio*/

.title {
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6% 0;
    text-align: center;
}

.title-about {
    text-align: left;

}

.subtitle-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

.subtitle-about > small{
    font-size: 11px;
}

.text-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-align: justify;
}

.img-list {
    margin: 6% 0;
}

.spinImg {
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-o-transition: transform 7s linear;
	-ms-transition: transform 7s linear;
	-moz-transition: transform 7s linear;
	-webkit-transition: transform 7s linear;
	transition: transform 7s linear;
}

.spinImg:hover {
	-o-transform: rotateY(3turn);
	-ms-transform: rotateY(3turn);
	-moz-transform: rotateY(3turn);
	-webkit-transform: rotateY(3turn);
	transform: rotateY(3turn);
}

.worker-name, .worker-job {
    font-family: Dosis sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    font-weight: 400;
}

.worker-name {
    font-size: 15px;
    letter-spacing: 6px;
    margin: 30px 0 16px;
}

.worker-job {
    font-size: 12px;
    letter-spacing: 4.8px;
}

/* styles for about section*/

/*section why choose us*/

.title-item {
    color: #111111;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.6px;
    text-align: center;
    margin: 35px 0;
}

.custom-icons span{
    color: #111111;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
}

.row-3-center {
    text-align: center;
}

/*section what people say*/

.slide-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-quote {
    color: #ffffff;
    font-size: 30px;
    margin: auto auto 0px;
}

.divBox {
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-left: 75px solid white;
    border-bottom: 75px solid transparent;
}

.divBoxNext {
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-right: 75px solid white;
    border-bottom: 75px solid transparent;
}

.btnCntrPosition {
    position: relative;
}

.singStyleLeft {
    color: #313131; 
    font-size: 17px;
    position: absolute;
    top: 40%;
    left: 3%;
}

.singStyleRight {
    color: #313131; 
    font-size: 17px;
    position: absolute;
    top: 40%;
    right: 3%;
}

.slideShow-container {
    width: 730px;
    text-align: center;
    font-family: "Open Sans";
    line-height: 38px;
    position: relative;
}

.peopleSayInfo {
    opacity: 0.65;
    color: #ffffff;
    font-size: 18px;
    margin: 45px auto 25px;
    font-weight: 300;
}

.gray-text {
    opacity: 0.3;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.prev .next {
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    padding: 16px;
    margin-top: 22px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.prev:hover .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dotContainer {
    text-align: center;
}

.dot {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

/*section what people say*/

/*section subscribe*/

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 264px;
    background-color: #f8f8f8;
    text-align: center;

}

.black-button {
    background-color: #323232;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    opacity: 0.8;
    border: none;
    outline: none;
    height: 40px;
    padding: 7px 20px;
}

.black-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.subscribe > p {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 19px;
}

.title-space-bottom{
    margin-bottom: 30px;
}

/*section subscribe*/

/*section map*/

.mapBox{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 500px;
}

.hideMap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
}

.hideMap:hover {
    opacity: 0;
}

.transition {
    transition: .6s;
}

/*section map*/

