@media screen and (max-width: 600px) {

    h1 {
        font-size: 20px;
        letter-spacing: 15px;
    }

    .header-text-center p {
        font-size: 11px;
        font-weight: 300;
        margin-top: 65px;
    }

    .element-goto {
        margin: auto 48% 15px;
    }

    .row-3 > div {
        width: 100%;
    }

    .list-services {
        justify-content: space-around;
    }

    .digital-services-content .white-button {
        margin-top: 15px;
    }

    .portfolio-list {
        flex-direction: column;
        align-items: center;
    }

    .gray-layer {
        width: 100%;
    }

    .subscribe div {
        display: flex;
        flex-direction: column;
        text-align: -webkit-center;
    }

    .subscribe .black-button {
        width: 165px;
        margin-top: 15px;
    }

    .contact-info {
        width: 100%;
    }

    .contact-info p {
        margin-bottom: 3px;
        letter-spacing: 1.6px;
    }

    .contact-info img {
        display: none;
    }
}
